body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  color: white;
  background-image: url('./resources/images/the-flatiron-building.png')
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

nav {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.sections p {
  font-size: 14px;
}

#midsection {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-imge: url('resources/images/the-flatiron-building.png');
}

.footer {
  text-align: left;
  background-color: dimgray;
}

#copyright {
  font-size: 11px;
  color: white;
}

#nav {
  color: white;
}
